<%= link_to "Back to Pictures", "/pictures" %> | <%= link_to "Edit", edit_picture_path(@picture) %>

<p><%= @picture[:title] %>, <%= @picture[:artist] %></p>
<%= image_tag @picture.url %>
<!-- <img src="<%= @pictures[:url] %>"> 